h1 {
    color: red;
}
p  {
  color: blue;
  font-size: 16px;
  font-family: Helvetica;
}

h2 {
  color: green;
  background-color: orange;
}

ul li {
  background-color: yellow;
}

ol li {
  background-color: teal;
}
